.box-city {
    width: 248px;
    border: none;
    height: 46px;
    color: white;
    background: rgba(255, 255, 255, 0);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-left: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background: rgba(255, 255, 255, 0);
    border: 0 ;
}
.drop-1,.drop-2{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 30px;
    border-radius: 16px;
    position: absolute;
    color: white;
}
.drop-1{
    top: 65px;
    left: 30px;
}
.drop-2{
    top: 65px;
    left: 290px;
}
.cont{
    margin-top: 58px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(16px);
    height: 62px;
    width: 1126px;
    border-radius: 16px;
    gap: 8px;
}
input[type="date"]{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;

}
::-webkit-calendar-picker-indicator{
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.p-inputtext{
    background: #535bf2;
}

