.popular{
    color: white;
    margin-top: 245px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    /*margin-left: 120px;*/
}
.popular img{
    border-radius: 8px;
}
.panel{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    position: relative;
}
.card p{
    color: white;
    position: absolute;
    left: 30px;
    bottom: 40px;
}