.Name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    max-width: 843px;
    margin: 5vw 0 0 120px;
}

.Name h3{
    color: #FBD784;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.Name h3::before{
    display: inline-block;
    margin-bottom: 2%;
    margin-right: 25px;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #FBD784;
}
.Name h1,p{
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.Name p{
    max-width: 1000px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
.Name h1{
    font-size: 64px;
}