.p-tabmenu{
    background-color: rgba(255,255,255,0);
}
.p-tabmenu-nav{
    background-color: rgba(255,255,255,0);
}
.p-tabmenu .p-tabmenu-nav{
    /*border: none;*/
    display: flex;
    justify-content: center;

}
.oplata{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10.5px);
    /* Note: backdrop-filter has minimal browser support */
    margin-top: 40px;
    border-radius: 32px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-knob-text{
    font-size: 13px;
    color: white;
}
.oplata h2{
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.p-highlight:active{
    background-color: #00FFFF;
}
.imgErr{
    margin-top: 10%;
}
.op{
    margin: 40px 0 0 0 ;
}
