header{
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.appMenu ul{
    display: flex;

}
li {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.nav{
    text-decoration: none;
    margin-right: 30px;
}
body{
    /*background: url("./img/fon.png")  no-repeat;*/
    background: white url("./img/fon.svg") center top  no-repeat;


}
.btLog{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 125, 215, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0);
}
.btLog:hover{
    cursor: pointer;
    border-bottom: 1px solid #00FFFF;
    /*color: #00FFFF;*/
}
.nav:hover{
    cursor: pointer;
    border-bottom: 1px solid #00FFFF;
    color: #00FFFF;
}
.active{
    border-bottom: 1px solid #00FFFF;
}
.p-dialog .p-dialog-header .p-dialog-header-icon{
    background-color: #00FFFF;
}