<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="../static/assets/plugins/simplebar/css/simplebar.css"  rel="stylesheet"/>
	<link href="../static/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="../static/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
	<link href="../static/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="../static/assets/css/pace.min.css" rel="stylesheet" />
	<script src="../static/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/assets/css/app.css" rel="stylesheet" >
	<link href="../static/assets/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link  href="../static/assets/css/dark-theme.css" rel="stylesheet"/>
	<link  href="../static/assets/css/semi-dark.css" rel="stylesheet"/>
	<link  href="../static/assets/css/header-colors.css" rel="stylesheet"/>
	<title>Новый горизонт</title>
</head>

<body class="bg-theme bg-theme3">
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<h4 class="logo-text">NG</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="javascript:" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Статистика</div>
					</a>
					<ul>
						<li> <a th:href="@{main}"><i class="bx bx-right-arrow-alt"></i>Основная</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">Информация</li>
				<li>
					<a th:href="@{tableinfo}">
						<div class="menu-title">Вся инфа</div>
					</a>
				</li>
			</ul>
		</div>
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center"></ul>
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://via.placeholder.com/110x110" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0">Админ</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="/logout"><i class='bx bx-log-out-circle'></i><span>Выйти</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>


		<div class="page-wrapper">
			<div class="page-content">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3" style="display: flex;justify-content: center">
					<div class="col">
						<div class="card radius-10">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0">Выручка</p>
										<h4 class="my-1">₽4805</h4>
									</div>
									<div class="widgets-icons ms-auto"><i class='bx bxs-wallet'></i>
									</div>
								</div>
								<div id="chart1"></div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card radius-10">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0">Количество проданных билетов</p>
										<h4 class="my-1">8.4K</h4>
									</div>
									<div class="widgets-icons ms-auto"><i class='bx bxs-group'></i>
									</div>
								</div>
								<div id="chart2"></div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
				<div class="row row-cols-1 row-cols-xl-2" style="display: flex;justify-content: center">
					<div class="col d-flex">
						<div class="card radius-10 w-100">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<h5 class="mb-1">Общая статичтика</h5>
									</div>
								</div>
								<div class="row row-cols-1 row-cols-sm-3 mt-4">
									<div class="col">
										<div>
											<p class="mb-0">Выручка</p>
											<h4 class="my-1 text-white">$4805</h4>
										</div>
									</div>
									<div class="col">
										<div>
											<p class="mb-0">Количество проданных билетов</p>
											<h4 class="my-1 text-white">8.4K</h4>
										</div>
									</div>
								</div>
								<div id="chart4"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<footer class="page-footer">
			<p class="mb-0">AirLine © 2023. Все права защищины.</p>
		</footer>
	</div>

	<!-- Bootstrap JS -->
	<script src="../static/assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="../static/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="../static/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="../static/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
	<script src="../static/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="../static/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
	<!--app JS-->
	<script src="../static/assets/js/app.js"></script>
	<script th:inline="javascript">
		$(function() {
			"use strict";
			var e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613, 727, 414, 100, 1000]
				}],
				chart: {
					type: "line",
					height: 65,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: 0,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 3,
					curve: "smooth"
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				fill: {
					opacity: 1
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart1"), e).render();
			e = {
				series: [{
					name: "Customers",
					// data: [240, 160, 671, 414, 555, 257, 901, 613, 727, 414, 555, 257]
					data:  [[${user}]]

				}],
				chart: {
					type: "line",
					height: 65,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: 0,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 3,
					curve: "smooth"
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				fill: {
					opacity: 1
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart2"), e).render();
			e = {
				series: [{
					name: "Store Visitores",
					data: [240, 160, 671, 414, 555, 257, 901, 613, 727, 414, 555, 257]
				}],
				chart: {
					type: "line",
					height: 65,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: 0,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 3,
					curve: "smooth"
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				fill: {
					opacity: 1
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart3"), e).render();
			e = {
				series: [{
					name: "Выручка",
					data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
				}, {
					name: "Количество проданных билетов",
					data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
				}],
				chart: {
					foreColor: "#9ba7b2",
					type: "bar",
					height: 300,
					toolbar: {
						show: !1
					}
				},
				plotOptions: {
					bar: {
						horizontal: !1,
						columnWidth: "55%",
						endingShape: "rounded"
					}
				},
				grid: {
					borderColor: 'rgba(255, 255, 255, 0.12)',
					show: true,
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					colors: ["transparent"]
				},
				colors: ["rgba(255, 255, 255, 0.60)", "#fff", "rgba(255, 255, 255, 0.25)"],
				xaxis: {
					categories: ["Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"]
				},
				fill: {
					opacity: 1
				},
				tooltip: {
					theme: "dark",
					y: {
						formatter: function(e) {
							return "₽ " + e
						}
					}
				}
			};
			new ApexCharts(document.querySelector("#chart4"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart5"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart6"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart7"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart8"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart9"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart10"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [240, 160, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 45,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart11"), e).render();
			e = {
				series: [{
					name: "Revenue",
					data: [332, 540, 160, 240, 160, 671, 355, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 100,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart12"), e).render();
			e = {
				series: [{
					name: "Pageviews",
					data: [332, 540, 160, 240, 160, 671, 355, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 100,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart13"), e).render();
			e = {
				series: [{
					name: "New Sessions",
					data: [332, 540, 160, 240, 160, 671, 355, 671, 414, 555, 257, 901, 613]
				}],
				chart: {
					type: "area",
					height: 100,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#fff"
					},
					sparkline: {
						enabled: !0
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 2,
					curve: "smooth"
				},
				fill: {
					type: 'gradient',
					gradient: {
						shade: 'light',
						type: "vertical",
						shadeIntensity: 0.5,
						gradientToColors: ["#fff"],
						inverseColors: true,
						opacityFrom: 0.2,
						opacityTo: 0.5,
						stops: [0, 50, 100],
						colorStops: []
					}
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !1
					},
					y: {
						title: {
							formatter: function(e) {
								return ""
							}
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart14"), e).render();
			e = {
				series: [25, 65, 10, 14],
				chart: {
					height: 240,
					type: "donut"
				},
				legend: {
					position: "bottom",
					show: !1
				},
				plotOptions: {
					pie: {
						donut: {
							size: "80%"
						}
					}
				},
				colors: ["rgba(255, 255, 255, 0.70)", "#fff", "rgba(255, 255, 255, 0.55)", "rgba(255, 255, 255, 0.25)"],
				dataLabels: {
					enabled: !1
				},
				tooltip: {
					enabled:false,
					theme: "dark",
					y: {
						formatter: function(e) {
							return "$ " + e + " thousands"
						}
					}
				},
				labels: ["Kids", "Men", "Women", "Furniture"],
				responsive: [{
					breakpoint: 480,
					options: {
						chart: {
							height: 200
						},
						legend: {
							position: "bottom"
						}
					}
				}]
			};
			new ApexCharts(document.querySelector("#chart15"), e).render();
			e = {
				chart: {
					height: 180,
					type: "radialBar",
					toolbar: {
						show: !1
					}
				},
				plotOptions: {
					radialBar: {
						hollow: {
							margin: 0,
							size: "78%",
							background: "transparent",
							image: void 0,
							imageOffsetX: 0,
							imageOffsetY: 0,
							position: "front",
							dropShadow: {
								enabled: !1,
								top: 3,
								left: 0,
								blur: 4,
								color: "rgba(0, 169, 255, 0.85)",
								opacity: .65
							}
						},
						track: {
							background: "rgba(255, 255, 255, 0.12)",
							margin: 0,
							dropShadow: {
								enabled: !1,
								top: -3,
								left: 0,
								blur: 4,
								color: "rgba(0, 169, 255, 0.85)",
								opacity: .65
							}
						},
						dataLabels: {
							showOn: "always",
							name: {
								offsetY: -8,
								show: !0,
								color: "#fff",
								fontSize: "15px"
							},
							value: {
								formatter: function(e) {
									return e + "%"
								},
								color: "#fff",
								fontSize: "25px",
								show: !0,
								offsetY: 10
							}
						}
					}
				},
				fill: {
					type: "gradient",
					gradient: {
						shade: "light",
						type: "horizontal",
						shadeIntensity: .5,
						gradientToColors: ["#fff"],
						inverseColors: !1,
						opacityFrom: 1,
						opacityTo: 1,
						stops: [0, 100]
					}
				},
				colors: ["#fff"],
				series: [68],
				stroke: {
					lineCap: "round",
					width: "5"
				},
				labels: ["Completed"]
			};
			new ApexCharts(document.querySelector("#chart16"), e).render();
			e = {
				chart: {
					height: 180,
					type: "radialBar",
					toolbar: {
						show: !1
					}
				},
				plotOptions: {
					radialBar: {
						hollow: {
							margin: 0,
							size: "78%",
							background: "transparent",
							image: void 0,
							imageOffsetX: 0,
							imageOffsetY: 0,
							position: "front",
							dropShadow: {
								enabled: !1,
								top: 3,
								left: 0,
								blur: 4,
								color: "rgba(0, 169, 255, 0.85)",
								opacity: .65
							}
						},
						track: {
							background: "rgba(255, 255, 255, 0.12)",
							margin: 0,
							dropShadow: {
								enabled: !1,
								top: -3,
								left: 0,
								blur: 4,
								color: "rgba(0, 169, 255, 0.85)",
								opacity: .65
							}
						},
						dataLabels: {
							showOn: "always",
							name: {
								offsetY: -8,
								show: !0,
								color: "#fff",
								fontSize: "15px"
							},
							value: {
								formatter: function(e) {
									return e + "%"
								},
								color: "#fff",
								fontSize: "25px",
								show: !0,
								offsetY: 10
							}
						}
					}
				},
				fill: {
					type: "gradient",
					gradient: {
						shade: "light",
						type: "horizontal",
						shadeIntensity: .5,
						gradientToColors: ["#fff"],
						inverseColors: !1,
						opacityFrom: 1,
						opacityTo: 1,
						stops: [0, 100]
					}
				},
				colors: ["#fff"],
				series: [60],
				stroke: {
					lineCap: "round"
				},
				labels: ["Cancelled"]
			};
			new ApexCharts(document.querySelector("#chart17"), e).render();
			e = {
				chart: {
					height: 180,
					type: "radialBar",
					toolbar: {
						show: !1
					}
				},
				plotOptions: {
					radialBar: {
						hollow: {
							margin: 0,
							size: "78%",
							background: "transparent",
							image: void 0,
							imageOffsetX: 0,
							imageOffsetY: 0,
							position: "front",
							dropShadow: {
								enabled: !1,
								top: 3,
								left: 0,
								blur: 4,
								color: "rgba(0, 169, 255, 0.85)",
								opacity: .65
							}
						},
						track: {
							background: "rgba(255, 255, 255, 0.12)",
							margin: 0,
							dropShadow: {
								enabled: !1,
								top: -3,
								left: 0,
								blur: 4,
								color: "rgba(0, 169, 255, 0.85)",
								opacity: .65
							}
						},
						dataLabels: {
							showOn: "always",
							name: {
								offsetY: -8,
								show: !0,
								color: "#fff",
								fontSize: "15px"
							},
							value: {
								formatter: function(e) {
									return e + "%"
								},
								color: "#fff",
								fontSize: "25px",
								show: !0,
								offsetY: 10
							}
						}
					}
				},
				fill: {
					type: "gradient",
					gradient: {
						shade: "light",
						type: "horizontal",
						shadeIntensity: .5,
						gradientToColors: ["#fff"],
						inverseColors: !1,
						opacityFrom: 1,
						opacityTo: 1,
						stops: [0, 100]
					}
				},
				colors: ["#fff"],
				series: [45],
				stroke: {
					lineCap: "round"
				},
				labels: ["In Progress"]
			};
			new ApexCharts(document.querySelector("#chart18"), e).render();
			e = {
				series: [{
					name: "Orders",
					data: [240, 160, 671, 414, 555, 257, 901, 613, 727, 414, 555, 257]
				}],
				chart: {
					foreColor: "rgba(255, 255, 255, 0.65)",
					type: "bar",
					height: 270,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: 0,
						top: 3,
						left: 14,
						blur: 4,
						opacity: .12,
						color: "#0d6efd"
					},
					sparkline: {
						enabled: !1
					}
				},
				markers: {
					size: 0,
					colors: ["#0d6efd"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				plotOptions: {
					bar: {
						horizontal: !1,
						columnWidth: "30%",
						endingShape: "rounded"
					}
				},
				dataLabels: {
					enabled: !1
				},
				stroke: {
					show: !0,
					width: 3,
					curve: "smooth"
				},
				grid: {
					borderColor: 'rgba(255, 255, 255, 0.12)',
					show: true,
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
				},
				fill: {
					opacity: 1
				},
				tooltip: {
					theme: "dark",
					fixed: {
						enabled: !1
					},
					x: {
						show: !0
					},
					y: {
						formatter: function(e) {
							return " " + e + " "
						}
					},
					marker: {
						show: !1
					}
				}
			};
			new ApexCharts(document.querySelector("#chart19"), e).render();
			e = {
				series: [87],
				chart: {
					height: 310,
					type: "radialBar",
					offsetY: -10
				},
				plotOptions: {
					radialBar: {
						startAngle: -135,
						endAngle: 135,
						hollow: {
							margin: 0,
							size: "70%",
							background: "transparent"
						},
						track: {
							background: "rgba(255, 255, 255, 0.25)",
							strokeWidth: "100%",
							dropShadow: {
								enabled: !1,
								top: -3,
								left: 0,
								blur: 4,
								opacity: .12
							}
						},
						dataLabels: {
							name: {
								fontSize: "16px",
								color: "#fff",
								offsetY: 5
							},
							value: {
								offsetY: 20,
								fontSize: "30px",
								color: "#fff",
								formatter: function(e) {
									return e + "%"
								}
							}
						}
					}
				},
				fill: {
					type: "gradient",
					gradient: {
						shade: "dark",
						shadeIntensity: .15,
						inverseColors: !1,
						gradientToColors: ["#fff"],
						opacityFrom: 1,
						opacityTo: 1,
						stops: [0, 50, 65, 91]
					}
				},
				colors: ["#fff"],
				stroke: {
					dashArray: 4
				},
				labels: ["Total Sales"],
				responsive: [{
					breakpoint: 480,
					options: {
						chart: {
							height: 300
						}
					}
				}]
			};
			new ApexCharts(document.querySelector("#chart20"), e).render();
			e = {
				series: [{
					name: "Visitors",
					data: [427, 613, 801, 457, 605, 414, 671, 360, 540]
				}],
				chart: {
					foreColor: "rgba(255, 255, 255, 0.50)",
					type: "bar",
					height: 390,
					toolbar: {
						show: !1
					},
					zoom: {
						enabled: !1
					},
					dropShadow: {
						enabled: !1,
						top: 3,
						left: 10,
						blur: 3,
						opacity: .1,
						color: "#0d6efd"
					},
					sparkline: {
						enabled: !1
					}
				},
				plotOptions: {
					radialBar: {
						hollow: {
							size: "70%"
						}
					},
					bar: {
						horizontal: !1,
						columnWidth: "35%",
						endingShape: "rounded"
					}
				},
				markers: {
					size: 0,
					colors: ["#fff"],
					strokeColors: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7
					}
				},
				dataLabels: {
					enabled: !1
				},
				grid: {
					borderColor: 'rgba(255, 255, 255, 0.12)',
					show: true,
				},
				stroke: {
					show: !0,
					width: 3,
					curve: "smooth"
				},
				colors: ["#fff"],
				xaxis: {
					categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep"]
				},
				fill: {
					opacity: 1
				},
				tooltip: {
					theme: "dark",
					y: {
						formatter: function(e) {
							return "$ " + e + " thousands"
						}
					}
				}
			};
			new ApexCharts(document.querySelector("#chart21"), e).render()
		});
	</script>
	<script>
		new PerfectScrollbar('.product-list');
		new PerfectScrollbar('.customers-list');
	</script>

</body>

</html>